*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 
 header{
     text-align: center;
     font-size: 2rem;
 }
 
span{
     margin-top: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     
 }
 
 p{
     border: 1px solid #000;
     padding: 100px;
 }
 

 button{
    margin: 50px 0px 0px 573px;
    padding: 10px 80px 10px 80px;
    background-color: limegreen;
    border-radius: 10px;
 }


